/** Google Font **/
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);

/* Base CSS */

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

.icon {
    max-width: 40%;
    height: auto;
}

h1 {
  font-size: 100px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.sub-header {
  color: white;
}


h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: 'Lato', sans-serif;
    color: #333;
    letter-spacing: 2px;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}

p {
    font-size: 13px;
}

a:hover {
    text-decoration: none
}

section {
    padding: 100px 0;
}

/*section heading*/
.heading-text h3 {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-bottom: 23px;
    color: #BF8F62;
}

.heading-text p {
    padding-bottom: 55px;
    letter-spacing: 2px;
    font-size: 11px;
}

/*----------------------------------------
    Preloader
------------------------------------------*/
#st-preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: block;
    background: #fff;
}

.st-preloader-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    margin: -18px 0 0 -18px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: rgba(0, 0, 0, 0.65);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(0, 0, 0, 0.65);
    border-right-color: rgba(0, 0, 0, 0.15);
    -webkit-animation: tb-preloader-circle 0.8s linear infinite;
    animation: tb-preloader-circle 0.8s linear infinite;
}

@keyframes tb-preloader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes tb-preloader-circle {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/*navbar css*/
header.header {
    top: 0;
    width: 100%;
    position: absolute;
    padding-top: 15px;
    z-index: 999;

}

.navbar-nav > li > a {
    padding: 7px 0 0;
    line-height: 12px;
    text-transform: uppercase;
    color: #A19796;
    letter-spacing: 2px;
    font-size: 12px;
    border-bottom: 1px solid transparent;
    transition: all .4s;

}

.navbar-brand > img {
    display: block;
    width: 100px;
    padding-top: 7px;
}

.nav > li {
    padding: 15px 15px;
}

.is-sticky .navi {
    background: rgba(56, 56, 56, 1);
    z-index: 999;
}

.navbar-nav > li.active a {
    border-bottom: 1px solid #A19796;
}

.navbar-nav > li > a::after, .dropdown-menu li a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #333;
    transition: all .5s;

}

.navbar-nav > li:hover a::after, .dropdown-menu li:hover a::after {
    width: 100%;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: none;
}

.navbar-toggle .icon-bar {
    background: #A19796;
}

.navbar-toggle {
    background-color: transparent;
    border: 0;

}


.is-sticky .navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 0;
    border: 1px solid transparent;
}

/*DROPDOWN  MENU*/
.navbar-nav > li > .dropdown-menu {
    background-color: #E6F1F7;
    padding: 0;
    border-radius: 0;
    border: 0;
    margin: 0;
}

.dropdown-menu > li > a {
    background-color: #E6F1F7;
    transition: all .5s;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 8px 0 5px;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    border-radius: 4px;
    -webkit-box-shadow: 0;
    box-shadow: 0 rgba(0, 0, 0, .175);
    transition: all .3s;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background: none;
}

.navi .navbar-right .dropdown-menu {
    right: 0;
    left: 1px;
    top: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*home css*/
#home {
    position: relative;
    /*background: url("img/home-bg.jpg") no-repeat fixed center center;*/
    background-color: #333;
    background-size: cover;
    height: 100%;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: table;

}

.table {
    display: table-cell;
    vertical-align: bottom;
}
/*
.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .6);
}*/

#slideshow {
    position: relative;

}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: inline;
}

/*project css*/

#project {
  padding: 100px 0;
}

.project-img {
  width: 100%;
}

#project > .container > .project-div {
  margin: 30px 0;
  display: block;
}

.left {
  float: left;
  width: 45%;
  margin-left: 1%;
}

.right {
  float: left;
  width: 49%;
  margin-right: 5%;

}


.project-name, .project-name-1 {
    padding-bottom: 55px;
    color: #272b2f;
    overflow: hidden;
}

.project-name a, .project-name-1 a {
    margin: 0 20px;
    font-size: 11px;
    letter-spacing: 2px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
    text-decoration: none;
}

.project-name a.active, .project-name a:hover, .project-name-1 a.active, .project-name-1 a:hover {
    border-bottom: 1px solid #333;
}

.project {
    overflow: hidden;
    margin: 0 120px 50px 50px;
    /*float: left;*/

}

.project-item {
    margin: 10px;
    float: left;
    position: relative;
    overflow: hidden;
}

/*1 dialog box*/
.modal-content {
    border-radius: 0;

}

.btn-block {
    display: block;
    width: 100%;
    letter-spacing: 1px;
    background: #000;
    border: 0;
    border-radius: 0;
    color: #fafafa;
}

.btn-block:hover {
    background: #333;
    color: #fff;
}

.modal-body img {
    width: 100%;
    margin: 20px auto;
}

.modal-body p {
    font-size: 13px;
    line-height: 24px;
}
.left-width{
    width: 33%;
    float: left;
    overflow: hidden;
}
.right-width{
    width: 50%;
    overflow: hidden;
    padding: 0 30px 30px 30px;
}
.right-width p{
    text-align: justify;
}
.right-width{}

button.close {
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid #2b2b2b;
    border-radius: 50%;
    line-height: 20px;
    width: 30px;
    height: 30px;
}

.img-overlay {
    background: rgba(85, 85, 85, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 500ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
}

.img-overlay h5 {
    color: #fff;
    font-size: 14px;
    background: url(img/project-heading-bg.png) no-repeat center bottom;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.project-item:hover .img-overlay {
    opacity: 1;
}

.project-technologies {
  font-style: italic;
}

.project-link-btn:hover {
  color: white;
  background-color: #333;

}

.project-links:hover {
  color: white;

}

.project-link-btn {
  background-color: white;
  margin-top: 30px;
  border: 0.5px #BAB6B5 solid;
  color: #BAB6B5;
  font-size: 12px;
  font-weight: 400;
  box-shadow: none;
}

/*services css */
#service {
    background-color: #F5FCFC;
    color: #272b2f;
}

.single-service i {
    font-size: 35px;
    padding-bottom: 15px;
    color: #A2A2A2;
}

.single-service h3 {
    font-size: 16px;
}

.single-service p {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

i {
  width: 50px;
}

/*carousel area css*/
#review {
    background: url("img/StockSnap_Workspace.jpg") no-repeat fixed center right;
    background-size: cover;
    position: relative;

}

/*.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(256, 256, 256, 0.50);
}*/

.carousel-1 {
    color: #272b2f;
}

.carousel-1 p {
    line-height: 26px;
    padding-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #A2A2A2;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators li.active {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;;
    background-color: #333333;

}

.carousel-indicators {
    position: absolute;
    bottom: -40px;
    left: 50%;
    z-index: 15;
    width: 60%;

}

.carousel-1 span {
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1px;
}

.carousel-1 h4 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

/*about area css*/
#about {
    color: #272b2f;

}

.description-text p {
    line-height: 24px;
    padding-bottom: 20px;
    font-size: 14px;

}

.resume-link {
  color: #333;
  font-weight: 300;
  border-bottom: 0.5px #333 solid;
}

.resume-link:hover {
  color: #A19796;
  border-bottom: 0.5px #A19796 solid;

}


.about-bottom > h4 {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 25px;
}

.single-member {
    position: relative;
    margin-bottom: 10px;
}

.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 500ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.single-member:hover .team-overlay {
    opacity: 1;
}

.team-text h4 {
    color: #fff;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-size: 15px;
}

.team-text {
    padding-top: 95px;
    color: #fff;
}

.team-text p {
    margin-bottom: 10px;

}

.social-icon i {
    color: #FFF;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    line-height: 30px;
    font-size: 16px;
    transition: .5s;
    margin: 2px;
}

.social-icon i:hover {
    color: #656565;
    background-color: #fff;
}

.client-section h4 {
    padding: 70px 0 50px;
}

.icon-slides {
  margin: 70px 0;
}

h3 .grey {
  color: #333;
}

/*blog css*/
#blog {
    background-color: #F5FCFC;
}

.single-blog {
    margin: 5px;
    color: #272b2f;
}

.single-blog a {
    letter-spacing: 2px;
    font-size: 18px;
    cursor: pointer;
}

.single-blog .date {
    padding: 25px 0 20px;
    font-size: 11px;
    letter-spacing: 2px;
}

.single-blog .para {
    text-align: left;
    line-height: 24px;
    padding: 10px 10px 0;

}

.single-blog .para a {
    text-transform: uppercase;
    display: inline;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 11px;
    padding-left: 8px;
}

/*contact area*/

.contact {
  margin: 0 auto;
  width: 300px;
  padding-left: 50px;

}

#connect {
  /*background-color: #333;
  color: white;*/
  padding: 40px 0;
}

.contact-form input[type="text"], input[type="email"] {
    border: 1px solid #272B2F;
    border-radius: 0;
    padding: 10px;
    color: #272b2f;
    font-size: 11px;
    height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-control:focus {
    border-color: #272B2F;
    outline: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 0 rgba(102, 175, 233, .6);
}

textarea.form-control {
    height: auto;
    border: 1px solid #272b2f;
    border-radius: 0;
    margin: 0;
    color: #272b2f;
    letter-spacing: 2px;
    font-size: 11px;
    resize: none;
}

button.btn-send {
    padding: 11px 22px;
    text-align: center;
    border: 1px solid #272b2f;
    background: transparent;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 11px;
    transition: all 0.5s;
    color: #272b2f;
    letter-spacing: 2px;

}

button.btn-send:hover {
    color: #fff;
    background: #272b2f;
}

/*address css */
#connect .container .margin-auto {
  margin: 0 auto;

}

.hotline {
    padding: 14px 0;
    letter-spacing: 1px;
}

.hotline h5 {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 300;
}

.hotline P {
    letter-spacing: 1px;
    font-size: 12px;
    margin: 5px;
}

.hotline i {
    padding: 0 0 37px 0;
    float: left;
    font-size: 20px;
}

.border-p {
    position: relative;
    margin-bottom: 20px;

}

.border-p span {
    border: 1px solid #A2A2A2;
    position: relative;
    z-index: 5;
    background: #fff;
    outline: 5px solid #fff;
    line-height: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    width: 210px;
    display: inline-block;
    color: #333;
}

.border-p::after {
    content: "";
    display: block;
    background-color: #A2A2A2;
    width: 100%;
    position: absolute;
    top: 50%;
    height: 1px;
    z-index: 1;
}

.tm-social-icon i {
    text-align: center;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 7px;
    line-height: 40px;
    color: white;
    transition: all 0.5s;
    font-size: 20px;
}

.tm-social-icon i:hover {
    color: white;
    background: #A19796;
}

.tm-social-icon.float-center {
    text-align: center;
}

.contact-note {
  text-align: center;
  margin-bottom: 40px;
}

footer {
  background-color: #333;
  text-align: center;
  padding: 20px;
}

/*#home {
    position: relative;
    background: url("img/home-bg.jpg") no-repeat fixed center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #333;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: table;
    z-index: 2;
    overflow: hidden;
}

#home ul{
    list-style: none;
}*/
